/* @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap');
body {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Lexend", sans-serif;

  /* font-optical-sizing: auto; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

